component
  flex: 1 1 auto
  min-height: 0
  overflow: hidden
  display: flex
  align-items: safe center
  justify-content: safe center
  gap: 4rem

  .logo
    flex: 0 0 auto
    border-radius: 1rem
    overflow: hidden

  ul.bullets
    flex: 0 0 auto
    max-width: 32em
    font-size: 1.6rem
