component
  flex: 1 1 auto
  min-height: 0
  overflow: hidden
  display: flex
  align-items: safe center
  justify-content: safe center

  ul.bullets
    flex: 0 0 auto
    max-width: 32em
    font-size: 1.4em
    line-height: 1.6em
