component
  flex: 1 1 auto
  min-height: 0
  overflow: hidden
  display: flex
  align-items: center
  justify-content: center

  .grid
    display: grid
    grid-template-columns: repeat(4, auto)
    gap: 0.5rem 6rem

    .item
      color: var(--color-cream)
      font-size: 2.5rem
      line-height: 1.2
      white-space: nowrap
